<mat-card>

    <div class="container" >
        <h1>Listado de Pedidos</h1>
    
    
        <button mat-raised-button color="primary" [routerLink]="'/crear-component/'">Crear pedido</button>
    
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
            <ng-container matColumnDef="nombreRemitente">
                <th mat-header-cell *matHeaderCellDef> Nombre del remitente </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreRemitente| titlecase}} </td>
            </ng-container>
    
            <ng-container matColumnDef="direccionRemitente">
                <th mat-header-cell *matHeaderCellDef> Direccion del remitente </th>
                <td mat-cell *matCellDef="let element"> {{element.direccionRemitente | titlecase}} </td>
            </ng-container>
    
            <ng-container matColumnDef="nombreDestinatario">
                <th mat-header-cell *matHeaderCellDef> Nombre del Destinatario </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreDestinatario | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="direccionDestinatario">
                <th mat-header-cell *matHeaderCellDef> Direccion del Destinatario </th>
                <td mat-cell *matCellDef="let element"> {{element.direccionDestinatario | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="descripcionPaquete">
                <th mat-header-cell *matHeaderCellDef> Descripcion del Paquete </th>
                <td mat-cell *matCellDef="let element"> {{element.descripcionPaquete | titlecase}} </td>
            </ng-container>

            <ng-container matColumnDef="fechaEntrega">
                <th mat-header-cell *matHeaderCellDef> Fecha de Entrega </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaObjeto|date:'dd/MM/yyyy'}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
            
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <button type="button" mat-raised-button color = "primary" (click)="editarPaquete(element._id)">editar</button> 
                </td>
            </ng-container>
            
            <ng-container matColumnDef="borrar">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> <button mat-raised-button color = "primary" (click)="borrarPaquete(element)" >borrar </button> </td>
                
            </ng-container>
              
            
    
        </table>
    
    </div>
</mat-card>
